---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  padding: 20px;
  background-color: #f5f5f5;
}
