<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
  <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item{% if page.title == "Home" %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
              </li>
              <li class="nav-item{% if page.blog %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
              </li>
              <li class="nav-item{% if page.title == "About" %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
              </li>
          </ul>
      </div>
  </div>
</nav>