<!DOCTYPE html>
<html>

<head>
  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <script src="{{ site.baseurl }}/javascript/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/javascript/bootstrap.bundle.min.js"></script>
</head>

<body>

  {% include nav-bar.html %}

  {% include header.html %}
  
  {{ content }}

  {% include footer.html %}
  
</body>

</html>
